<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>

    <add name="score_2" connectionString="server=.;uid=sa;pwd=88808172;database=score_2;"/>
    <add name="asst" connectionString="server=.;uid=sa;pwd=88808172;database=asst_wsd;"/>
    <add name="dataname" connectionString="score_2"/>
    <add name="pwd" connectionString="88808172"/>
    <add name="serverName" connectionString="."/>
    <add name="uid" connectionString="sa"/>
    <add name="managerServer" connectionString="."/>
    <add name="managerUid" connectionString="sa"/>
    <add name="managerPwd" connectionString="88808172"/>
    <add name="managerDb" connectionString="master"/>
    <add name="headDb" connectionString="server=.;uid=sa;pwd=88808172;database=score_2_aozhou;"/>
</connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
